.bg{
  background-color: #f5fcf9;
  width: 100vw;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.navbar{
  height: 10vh;
  width: 100vw;
  background-color: #9ac9e3;
  display: flex;
  justify-content: space-around;
  font-size: 3vh;
  word-spacing: 4.5vw;
  font-weight: bold;
}

.logo{
  width: 4.5vw;
  height: 10vh;
  padding-top: 0.3vh;
}


.navlinks a{
  color: #1e577d;
  text-decoration: none;
  font-size: 3vh;
  justify-content: flex-end;
}

.navlinks a:hover{
  color: white;
}


.p1content{
  box-sizing: border-box;
}

.intro{
  position: relative;
  font-size: 2.5vh;
  text-align: center;
  padding: 4vh;
  color: #084066;
}

.map{
  padding-left: 2vw;
  padding-top: 6vh;
  float: left;
  width: 50vw;
  height: 75vh;
}

.data{
  position: relative;
  font-size: 3vh;
  text-align: center;
  padding-top: 3vh;
  color: #084066;
  font-weight: bold;
  flex-direction: column;
}


.info{
  box-sizing: border-box;
  position: relative;
  text-align: center;
  border: 3px solid #9ac9e3;
  left: 50vw;
  width: 40vw;
  margin-top: 5vh;
  transform: translate(-50%);
}

.header{
  padding: 3vh;
  color: #084066;
  font-size: 4vh;
}

.paragraphs{
  text-align: left;
  text-indent: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
  line-height: 5vh;
  font-size: 2.5vh;

}





.p3content{
  box-sizing: border-box;
  position: relative;
  text-align: center;
  border: 3px solid #9ac9e3;
  left: 50vw;
  width: 70vw;
  margin-top: 10vh;
  transform: translate(-50%);
  justify-content: space-around;
  display: flex;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.inputbox{
  text-align: left;
  margin-top: 13vh;
  display: flex;
  border: 3px solid #9ac9e3;
  padding: 1vh;
  padding-left: 1vw;
  width: 18vw;
  font-size: 2.1vw;
}

.calculation{
  text-align: left;
  display: flex;
  padding-top: 1vh;
  font-size: 1.4vw;
}

.underscore{
  display: flex;
  text-decoration: underline;
  white-space: pre;
}
